<div class="features__content">
    <div id="content__bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section_title">
                    <h3>Service we <span>Provide</span></h3>
                    <p>We provide .</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature__box">
                <i class="flaticon-analytics"></i>
                <div class="feature__content">
                    <h3><a href="#">Data Protection</a></h3>
                    <p>We provide data protection with a level 2 end to end encrption for any infomation provided.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature__box">
                <i class="flaticon-secure-shield"></i>
                <div class="feature__content">
                    <h3><a href="#">Security Protected</a></h3>
                    <p>your investment is completely safe, but but forex and Globefxtrade are considered completely truthworthy.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature__box">
                <i class="flaticon-people"></i>
                <div class="feature__content">
                    <h3><a href="#">Support 24/7</a></h3>
                    <p>Perfectly elaborated and calculated investment plans for depositPerfectly elaborated and c profit
                        during the entire term of the deposit.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature__box">
                <i class="flaticon-credit-card"></i>
                <div class="feature__content">
                    <h3><a href="#">Payment Methods</a></h3>
                    <p>We accepts payments from most crypto currrencies especially Bitcoin, Ethereum and USDT. We provide a credible payment system.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature__box">
                <i class="flaticon-money-2"></i>
                <div class="feature__content">
                    <h3><a href="#">Worldwide Coverage</a></h3>
                    <p>We offer service to all countries and race Courtesy Globefxtrade currency enabling investments within the shortest notice as market Profit opportunity arises.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature__box">
                <i class="flaticon-money-1"></i>
                <div class="feature__content">
                    <h3><a href="#">Safe And secured</a></h3>
                    <p>No investment is completely safe, but but forex and worldcryptocoinx are considered to be among the safest
                     investments you can own as minig is an accumulation process for wealth building.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature__box">
                <i class="flaticon-bitcoin"></i>
                <div class="feature__content">
                    <h3><a href="#">Live Exchange Rates</a></h3>
                    <p>We provide you with live updates on crypto rates, making the system one of the best around. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature__box">
                <i class="flaticon-bitcoin-1"></i>
                <div class="feature__content">
                    <h3><a href="#">Security and Privacy-Centric</a></h3>
                    <p>We take security as our most important task, by so doing making your investents safe with us.</p>
                </div>
            </div>
        </div>
    </div>
</div>