{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- /.End of loader wrapper-->
{% include 'includes/_navbars.html' %}
<!-- DEBUG-VIEW ENDED 2 APPPATH/Config/../Views/themes/website_template/header.php -->
<!-- DEBUG-VIEW START 3 APPPATH/Config/../Views/themes/website_template/layout.php -->
<!-- DEBUG-VIEW START 1 APPPATH/Config/../Views/themes/website_template/about.php -->

    <div class="page_header"
        data-parallax-bg-image="https://phpcryptomarket.bdtask.com/demo-v4.0/public/uploads/03d99f85c1b60a59fc101c26fb8a2b3e.jpg"
        data-parallax-direction="">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="haeder-text">
                            <h1>Contact</h1>
                            <p>Globefxtrade, giving you the access to great investment oppurtunity.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_content">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-5 p_r_40">
                            <h1 class="contact_title">Contact</h1>
                            <div class="contacts_info">
                                <div class="address">
                                    <p>1355 Market Street, Suite 900 San Francisco, CA 94103</p>
                                </div>
                                <div class="phone_fax">
                                    <div>
                                        <p>Phone</p>
                                        <p>Fax</p>
                                    </div>
                                    <div>
                                        <a href="#">+1 (514) 352-1010</a>
                                        <a href="#">+1 (514) 352-7511</a>
                                    </div>
                                </div>
                                <ul class="opening_hours">
                                    <li>
                                        <p>Monday-Wednesday</p>
                                        <p>10 am - 6 pm</p>
                                    </li>
                                    <li>
                                        <p>Thursday-Friday</p>
                                        <p>10 am - 9 pm</p>
                                    </li>
                                    <li>
                                        <p>Saturday</p>
                                        <p>9:30 am - 5 pm</p>
                                    </li>
                                    <li>
                                        <p>Sunday</p>
                                        <p>12 pm - 5 pm</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-7 p_l_40">
                            <div class="map_widget">
                                <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                    <form action="https://phpcryptomarket.bdtask.com/demo-v4.0/home/contactMsg" id="contactForm"
                        class="contact_form" name="contactForm" method="post" accept-charset="utf-8">
                        <input type="hidden" name="csrf_test_name" value="9c4bfdf3dfb81d2a0b3921295422dd43" />
                        <h1 class="contact_title"></h1>
                        <div class="form-group">
                            <label>Name <span class="text-danger"> *</span></label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="f_name" name="f_name">
                                    <p class="help-block">First Name</p>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="l_name" name="l_name">
                                    <p class="help-block">Last Name</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Company<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="company" name="company">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Email Address<span class="text-danger"> *</span></label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                                <div class="col-sm-6">
                                    <label>Phone<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tell Us About Your Project<span class="text-danger"> *</span></label>
                            <textarea class="form-control" rows="7" id="comment" name="comment"></textarea>
                        </div>
                        <button onclick="demoModeOne()" type="submit" class="btn btn-default">Get in touch</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  /.End of page header -->
<!-- /.End of team content -->

<!-- /.End of testimonial content -->
<!-- DEBUG-VIEW ENDED 1 APPPATH/Config/../Views/themes/website_template/about.php -->

<!-- DEBUG-VIEW ENDED 3 APPPATH/Config/../Views/themes/website_template/layout.php -->
<!-- DEBUG-VIEW START 4 APPPATH/Config/../Views/themes/website_template/footer.php -->



{% include 'includes/_footer.html' %}



{% endblock %}